<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nuevo Enlace para Restablecer la Contraseña</title>
</head>
<body>
  <h1>Se ha generado un nuevo enlace para restablecer la contraseña</h1>
  <p>Se ha generado un nuevo enlace para restablecer tu contraseña. Puedes utilizar este enlace para cambiar tu contraseña.</p>
  <p>Si no has solicitado restablecer tu contraseña, por favor, ignora este mensaje.</p>
</body>
</html>
